:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    --bg-color: white;
    --txt-color: black;
    --github-icon: url(static/github-mark.svg);
    --font: 'monoMMM_5', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --contrast-color: none;
    font-size: larger;
    font-family: var(--font);
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --txt-color: white;
        --github-icon: url(static/github-mark-white.svg);
    }
}

@media (prefers-contrast: more) {
    :root {
        --contrast-color: var(--txt-color);
    }
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col-center>*,
.sticky-right-button>span {
    text-align: center;
}

body {
    margin: 0em 2em 0;
    background-color: var(--bg-color);
    color: var(--txt-color);
    max-width: 100%;
    height: 100%;
}

main>input {
    min-width: 100%;
    width: 100%;
    border: 1px solid var(--contrast-color);
    border-bottom: 1px solid var(--txt-color);
    background-color: var(--bg-color);
    caret-color: var(--txt-color);
    margin-block: 1em;
    color: var(--txt-color);
    font-size: large;
    text-align: center;
    max-width: fit-content;
    font-family: var(--font);
}

main>input::placeholder {
    font-style: italic;
    opacity: 0.5;
    color: var(--txt-color)
}

ul li::marker {
    list-style: inside square;
}

main>input:focus {
    outline: none;
}

.sticky-right-button {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    border: none;
    font-size: small;
    padding: 1em;
    border-radius: .5em;
    max-width: 10vh;
    max-height: 10vh;
    overflow: hidden;
}

.sticky-right-button:hover {
    background-color: rgba(127, 127, 127, 0.5);
    transition: background-color 400ms ease-in;
}

.sticky-right-button>img {
    height: 3em;
    width: 3em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#hacks-list>li {
    animation: fadeIn 250ms ease-in 0ms 1;
}

#errors>li {
    animation: fadeIn 250ms ease-in 0ms 1;
    color: rgb(194, 44, 44);
}