:root {
    font-family: 'monoMMM_5', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    --bg-color: white;
    --txt-color: black;
    --github-icon: url(static/github-mark.svg);
    --contrast-color: none;
    font-size: larger;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --txt-color: white;
        --github-icon: url(static/github-mark-white.svg);
    }
}

@media (prefers-contrast: more) {
    :root {
        --contrast-color: var(--txt-color);
    }
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    margin: 1em;
    background-color: var(--bg-color);
    color: var(--txt-color);
    width: 100%;
    height: 100%;
}

main>input {
    width: 100%;
    border: 1px solid var(--contrast-color);
    border-bottom: 1px solid var(--txt-color);
    background-color: var(--bg-color);
    caret-color: var(--txt-color);
    margin-block: 1em;
    color: var(--txt-color);
    font-size: large;
}

main>input::placeholder {
    font-style: italic;
    
    opacity: 0.5;
    color: var(--txt-color)
}

main>input:focus {
    outline: none;
}

footer>a>img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 3em;
    width: 3em;
    border: none;
    background-color: var(--bg-color);
    /* background-image: var(--github-icon); */
    background-size: contain;
    background-repeat: no-repeat;
}